.background {
	background-image: url("/images/todolist.jpg");
	background-size: cover;
	display: block;
	filter: blur(4px);
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 1;
}

body {
	background-color: transparent;
	margin: 0;
}

main {
	color: #9015bc;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
}

h1 {
	color: #9015bc;
	font-family: 'Roboto', sans-serif;
	font-size: 80px;
	font-weight: 400;
	font-style: normal;
}

.inputSection {
	position: absolute;
	right: 10%;
	top: 35%;
	width: 35%;
	font-family: 'Raleway', sans-serif;
	font-size: auto;
	padding: auto;
	z-index: 2;
}

.content {
	position: relative;
	left: 3%;
	top: 5px;
	width: 80%;
	height: 30px;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	background-color: #c0c0c066;
	border-style: dotted;
}

.add {
	position: relative;
	left: 4%;
	top: 3px;
	width: 12%;
	height: 35px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	background-color: #00000066;
	color: #e0e0e0;
	border-style: outset;
	border-color: #c0c0c0;
}

.add:hover {
	background-color: #00000099;
	color: #ffffff;
	border-style: inset;
}

.add:active {
	background-color: #000000bb;
	color: #ffffff;
	border-style: groove;
}

.todoList {
	position: relative;
	top: 30px;
	width: 100%;
	overflow-wrap: break-word;
}

.listItem {
	position: relative;
	margin: 15px auto;
	color: black;
	background-color: #8DD7E260;
	border-style: solid;
	border-width: 2px;
	border-color: #1270d080;
	border-radius: 7px;
}

.listItemText {
	position: relative;
	width: 80%;
	margin: 7px;
	font-size: 28px;
	font-weight: 400;
}

.editButton {
	position: absolute;
	top: 5px;
	right: 60px;
}

.delButton {
	position: absolute;
	top: 5px;
	right: 10px;
}

